APP_NAME=CineBook
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:5173


LOG_CHANNEL=stderr
LOG_LEVEL=debug


DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=cinebook_db
DB_USERNAME=
DB_PASSWORD=


JWT_SECRET=

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your.gmail@gmail.com
MAIL_PASSWORD=xxxx xxxx xxxx xxxx
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=your.gmail@gmail.com
MAIL_FROM_NAME="CineBook"